- bootstrap_datatables_for :users,
    ajax:  { url: datatable_users_path(format: :json), type: 'POST' },
    dom:   datatable_dom_with_selected_and_buttons,
    order: [[ 1, 'asc' ]] do |t|

  - t.head_for 'check_box',  label: link_to_select_all('#users-table .users-checkbox'), sortable: false, searchable: false
  - t.head_for 'username',   label: 'Username'
  - t.head_for 'email',      label: 'Email'
  - t.head_for 'first_name', label: 'First name'
  - t.head_for 'last_name',  label: 'Last name'
  - t.head_for 'actions',    label: 'Actions', sortable: false, searchable: false
  - t.body     class: 'context-menu'

  = t.render_datatable
  :javascript
    #{t.render_js_datatable}
